{{ form_start(form) }}
<div class="form-group">
	{{ form_widget(form) }}

</div>

<button class="btn btn-sm btn-success mt-2 mb-2">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
