{% extends 'base.html.twig' %}

{% block title %}Edit TechnologyList
{% endblock %}

{% block body %}

	<div class="container dashboard">

		<h1>Edit TechnologyList</h1>

		{{ include('dashboard/technology_list/_form.html.twig', {'button_label': 'Editer'}) }}

		<a class="btn btn-primary" href="{{ path('technology_list_index') }}">Retour à la liste</a>

		{{ include('dashboard/technology_list/_delete_form.html.twig') }}

	</div>
{% endblock %}
