{% extends 'base.html.twig' %}

{% block title %}Liste des technologies
{% endblock %}

{% block body %}
	<div class="container">
		<h1>TechnologyList index</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">value</th>
					<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for technology_list in technology_lists %}
					<tr scope="row">
						<td>{{ technology_list.name }}</td>
						<td>{{ technology_list.value }}</td>
						<td>
							<a class="btn btn-sm btn-primary" href="{{ path('technology_list_edit', {'id': technology_list.id}) }}">editer</a>
							{% if technology_list.isEnable == true %}
								<a class="btn btn-sm btn-danger" href="{{ path('technology_list_disable', {'id': technology_list.id}) }}">
									<i class="far fa-eye-slash"></i>
								</a>

							{% else %}
								<a class="btn btn-sm btn-primary" href="{{ path('technology_list_enable', {'id': technology_list.id}) }}">
									<i class="far fa-eye"></i>
								</a>

							{% endif %}
							<a class="btn btn-sm btn-danger" href="{{ path('technology_list_delete', {'id': technology_list.id}) }}">supprimer</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">aucune techno</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('technology_list_new') }}">Créer nouvelle</a>
	</div>

{% endblock %}
