{% extends 'base.html.twig' %}

{% block title %}New TechnologyList
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer nouvelle Techno:</h1>
		{{ include('dashboard/technology_list/_form.html.twig') }}

		<a class="btn  btn-sm btn-info" href="{{ path('technology_list_index') }}">Retour à la liste</a>

	</div>
{% endblock %}
