{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Editer la catégorie</h1>

		{{ include('dashboard/category/_form.html.twig', {'button_label': 'Modifier'}) }}

		<a class="btn btn-sm btn-info" href="{{ path('dashboard_index') }}">Retour à la liste</a>

	</div>

{% endblock %}
