{% extends 'base.html.twig' %}

{% block title %}Liste des technologies
{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-12 text-center mb-2">
			<h1>Liste des catégories pour article:</h1>
			<a class="btn btn-success btn-sm" href="{{ path('technology_list_new') }}">Créer nouvelle techno</a>

		</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">value</th>
					<th scope="col">actions</th>
				</tr>
			</thead>
			<tbody>
				{% for category_list in category_lists %}
					<tr scope="row">
						<td>{{ category_list.libelle }}</td>
						<td>{{ category_list.value }}</td>
						<td>
							<a class="btn btn-sm btn-primary" href="{{ path('category_edit', {'id': category_list.id}) }}">editer</a>
							<a class="btn btn-sm btn-danger" href="{{ path('category_delete', {'id': category_list.id}) }}">supprimer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">aucune techno</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>{% endblock %}
