{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Create new Category</h1>

		{{ include('dashboard/category/_form.html.twig') }}

		<a class="btn btn-sm btn-info" href="{{ path('dashboard_index') }}">Retour à la liste</a>
	</div>
{% endblock %}
