{% extends 'base.html.twig' %}

{% block title %}Accueil - Damien BRIET - Blog & CV Numerique
{% endblock %}

{% block body %}
	<section id="bloc-picture">
		<div class="d-none d-sm-block">
			<div class="cardProjet rounded-0">
				<img class="card-img-top" src="{{asset('img/profil.png') }}" alt="">
				<div class="card-img-overlay banner">
					<h1>DAMIEN BRIET</h1>
					<h2 class="card-text">28 ans / Développeur Back End Junior
					</h2>
					<h2>Amiens / Paris</h2>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="d-block d-md-none">
				<h2>DAMIEN BRIET / 28 ans / Développeur Back End Junior</h2>
				<h2>Amiens / Paris</h2>
			</div>
		</div>
	</section>
	<section id="bloc-info">
		<div class="container blocGeneralInfo">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-sm-2 order-md-2 order-lg-1 text-justify">
					<h2>A PROPOS DE MOI:</h2>
					<p>Issu d'une formation commerciale en ESC, j'ai voulu m'orienter sur des postes qui allaient dans ce sens. Mais c'est surtout la passion du multimédia et plus particulièrement le web qui m'a fait changer de voie.</p>
					<p>Attaché à la puissance que représente le web aujourd'hui, mon souhait est de pouvoir continuer à progresser sur des technologies que j'apprécie particulièrement. Travaillant principalement sur le coté Back-End en PHP et utilisant le framework Symfony.
					</p>
					<p>C'est avant tout l'envie de créer mais aussi de développer des sites et applications web qui me pousse à élargir ces connaissances au travers des cours que j'ai effectué à l'E2N by la Manu mais aussi auprès de la communauté du web. Etant actuellement en poste,  je reste toutefois à l’écoute d'opportunités Parisiennes, Lilloises et Amienoises.
					</p>
				</div>
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-md-1 order-lg-2">
					<div class="text-center">
						<img src="{{ asset('img/profilpicture.jpg')}}" class="rounded-0 imgProfil" alt="">
					</div>
				</div>
			</div>
			<div class="row infoLocation text-center">
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
					<p><img src="{{ asset('img/imgindex/gpsicones.png') }}" alt="">
						Amiens (80) & IDF (78)</p>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
					<p><img src="{{ asset('img/imgindex/phone.png') }}" alt="">
						<a class="textStyle" href="phoneto:">06 11 42 92 60</a>
					</p>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
					<p><img src="{{ asset('img/imgindex/mail.png') }}" alt="">
						<a class="textStyle" href="mailto:">damienbbriet@gmail.com</a>
					</p>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
					<p class="bold"><img src="{{ asset('img/imgindex/mobility.png') }}" alt="">
						Mobilité: Nationale</p>
				</div>
			</div>
		</div>
	</section>
	<section id="bloc-competences">
		<div class="container text-center">
			<div class="row">
				<div class="title">
					<h2>COMPETENCES TECHNIQUES & FONCTIONNELLES:</h2>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-4 cardCompetences">
					<h2>Front-End</h2>
					<i class="fas fa-laptop-code fa-3x text-success"></i>
					<div class="cardProjet  rounded-0 blocCompetences">
						<div class="card-text">
							<p>HTML5, CSS3, JavaScript, JQuery, Bootstrap, AngularJS, Twig</p>
						</div>
						<a href=""></a>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-4 cardCompetences">
					<h2>Back-End</h2>
					<i class="fas fa-database fa-3x text-primary"></i>
					<div class="cardProjet  rounded-0 blocCompetences">
						<div class="card-text">
							<p>PHP7, MySQL, PHPMyAdmin, Symfony 4/5</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-4 cardCompetences">
					<h2>More</h2>
					<i class="fab fa-rocketchat fa-3x text-info"></i>
					<div class="cardProjet  rounded-0 blocCompetences">
						<div class="card-text">
							<p>CMS WordPress/Joomla!, Gestion de projets, AGILE, UX/UI, API, TeamWork, PDO, MVC, Docker, Git
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-4 offset-xl-4 cardCompetences">
					<h2>Objectifs personnels & professionnels</h2>
					<i class="fas fa-bullseye fa-3x"></i>
					{# <img src="img/imgindex/objectifs.png" alt="image de more"> #}
					<div class="cardProjet  rounded-0 blocCompetences">
						<div class="card-text">
							<div class="row text-center">
								<div class="col-xl-12 col-lg-12 col-md-12">
									<img src="img/imgindex/react.png" alt="logo de react"><span class="itemSpecial">*</span>
									<img src="img/imgindex/vueJS.png" alt="logo de vue.js"><span class="itemSpecial">*</span>
									<img src="img/imgindex/nodeJS.png" alt="logo de vue.js"><span class="itemSpecial">*</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<p>
					<span class="itemSpecial">*</span>Futur language d'apprentissage</p>
			</div>
		</div>
	</section>
	<section id="bloc-portefolio">
		<div class="container-fluid blocPortefolio">
			<div class="container">
				<div class="row text-center">
					<div class="col-12">
						<h2>DERNIERS PROJETS RÉALISÉS:</h2>
					</div>
				</div>
				<div class="row">
					{% for p in projects %}
						<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
							<img class="card-img" src="https://place-hold.it/500x300" alt="">
							<div class="card-img-overlay">

								<div class="card-title text-center">{{p.projectName}}</div>
								<p>
									<div class="card-text text-center">{{p.shortDesc}}</div>
								</p>


							</div>

						</div>

					{% endfor %}

				</div>
			</div>
			<div class="col-12 text-center">
				<a href="{{ path('project_index') }}" class="btn text-white btn-lg" style="background-color:#2B2A2A;">Acceder a l'ensemble de mon portfolio</a>
			</div>
		</div>
	</div>

</section>
<section id="bloc-experiences">
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 text-center">
				<div class="row title">
					<h2>EXPERIENCES:</h2>
				</div>
				<div class="row text-justify">
					<h4 class="font-weight bold">Développeur Web Junior | Solutis | Juin 2019 - Aujourd'hui
					</h4>
					<h4 class="mb-4">Responsable de Secteur | Carambar&Co | Mars 2018– Oct. 2018</h4>
					<h4 class="mb-4">Compte Clé Secteur Somme | General Mills- Yoplait | Nov. 2017 – Fév. 2018 (CDD)</h4>
					<h4 class="mb-4">Apprenti Responsable de Secteur | ELIOR | Sept. 2015 – Août 2017 (Apprentissage)</h4>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-5 offset-xl-1 title">
				<div class="row text-justify">
					<h2>DIPLOMES:</h2>
					<div class="col-12 imglogoDiplomaStyle text-center">
						<img src="img/logolamanu.jpg" alt="logo de la manu"/>
						<h4>Développeur Web & Web mobile</h4>
						<p>Janv 2019 - Juin 2019
						</p>
						<p>Ecole du Numerique Noyonnais E2N by La Manu</p>
						<img src="img/logoescamiens.jpg" alt="logo esc amiens"/>
						<h4>ESC Programme Grande Ecole</h4>
						<p>2013 - 2017</p>
						<p>Ecole Supérieure de Commerce de Amiens</p>
						<img src="img/bu-logo.jpg" alt="logo esc amiens"/>
						<h4>Bachelor in Business Studies
						</h4>
						<p>Fév 2015 - Juin 2015</p>
						<p>Bournemouth University – échange universitaire</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="bloc-contact">
	<div class="container-fluid blocPortefolio">
		<div class="container">
			<h2 class="text-center">Vous souhaitez me contacter ?</h2>
			<div class="form-group">
				<label for="">test</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="">test</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="">test</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label for="">test</label>
				<input type="textarea" class="form-control">
			</div>
			<button class="btn btn-primary">Envoyer votre mail</button>
		</div>
	</div>


</div></div></section>{% endblock %}
