/*****************CORPS DU SITE*****************/
body {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    display : table;
      width: 100%;
      font-size: .9rem;
  }
  
  html, body {
      height: 100%;
    margin: 0; padding: 0;
  }
  
  nav > a {
    color: white;
    font-weight: bold;
  }
  
  p {
    font-size: 14px;
  }
  .nav-link:hover{
    color: #26CBA9!important;
  }
  
  .container {
    margin-bottom: 40px;
  }
  .container-fluid{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  header {
    background-color: #2B2A2A;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 255, 189, 0.2);
  }
  
  footer{
    background-color: #2B2A2A;
    border-top-style: solid;
    border-top-color: rgba(0, 255, 189, 0.2);
    z-index: 100;
    color: white;
    display : table-row;
      height: 100px;
  }
  
  .title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
  }
  
  .bold{
    font-weight: bold;
  }
   p .textStyle{
    color: black;
    text-decoration: underline;
  }
  
  p .textStyle:hover{
    color: #26CBA9;
  }
  /*****************NAVBAR*****************/
  .logoBrand {
     width: 70px;
   }
  
  .buttonCV{
    background-color: #26CBA9;
    border: 1px;
    font-weight: bold;
    color: white;
  }
  
  .buttonCV:hover{
    background-color: #007BFF;
    color: white;
  }
  /*****************CONTENT*****************/
  
  .imgProfil{
    width: 20rem;
  }
  
  .infoLocation{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  
  .buttonScrollTop {
    position: absolute;
    background-color: none;
    display: inline-block;
    z-index: 1000000;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
  }
  
  .buttonScrollTop .show {
    opacity: 1;
    visibility: visible;
  }
  
  /*****************PORTEFOLIO*****************/
  .blocPortefolio{
      background-color: #26CBA9;
  }
  
  .cardProjet{
    border: 0px;
    margin-bottom: 50px;
    border: 0px;
    overflow: hidden;
  }
  
  /* .descPortefolio{
    background-color: white;
    margin-bottom: 50px;
  
  }
  
  .cardPortefolio .card-img-top {
    transition: transform 0.8s, filter 0.8s ease;
    transform: scale(1.3);
  }
  
  .cardPortefolio:hover .card-img-top {
    filter: blur(2px)brightness(40%);
    transform: scale(1.1);
   }
  
   .cardPortefolio .card-img-overlay{
     color: white;
     font-weight: bold;
     position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      z-index: 100;
  
     }
  .cardPortefolio .card-img-overlay h4{
    font-size: 35px;
    font-weight: bold;
  }
   .cardPortefolio:hover .card-img-overlay{
     top: 50%;
   left: 50%;
   opacity: 1;
   }
  
  */
   .imglogoDiplomaStyle img{
    width: 100px;
  } 
  
  .banner{
      color: white;
      font-weight: bold;
      position: absolute;
       text-align: center;
    align-self: center;
  top: 40%;
  box-sizing: border-box;
  width: auto;
  }
  
  .descPortefolio img{
    width: 40px;
  }
  /*****************COMPETENCES*****************/
  
  .blocCompetences{
    border-top: 2px solid lightgrey;
    margin: 2px;
  }
  
  .blocCompetences .card-text p{
    font-size: 20px;
  }
  
  .blocCompetences .card-text{
  padding: 20px;
  }
  
  .itemSpecial{
    font-size: 25px;
    color: red;
  }
  
  .cardCompetences:hover{
    transition: transform 0.8s, filter 0.8s ease;
    transform: scale(1.1);
  }
  
  .blocCompetences .card-text .row img{
    width: 50px;
  }
  
  .logoTechnoUse{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 100;
  }
  
  .article-text a {
    color: #26CBA9;
  }
  
  .blogcontent {
  color: #26CBA9!important;
  }
  
  .dashboard a:hover {
text-decoration: none;
color: #26CBA9;
} 

/******** PORTFOLIO ******************/

.img-hover-zoom {
  height: 200px; /* Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}
.img-hover-zoom--slowmo img {
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}

/* The Transformation */
.content:hover img {
  filter: brightness(100%);
  transform: scale(3);
  filter: blur(2px);
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}


.fadeIn-bottom{
  top: 80%;
}

.badge, .project-badge{
  font-size: 100%;
}

.link-project{
  text-decoration: none!important; 
    color: black!important;
}