{% extends 'base.html.twig' %}

{% block title %}Edit Project
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Edit Project</h1>

		{{ include('dashboard/project/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('project_index') }}">back to list</a>

		{{ include('dashboard/project/_delete_form.html.twig') }}

	</div>
{% endblock %}
