{% extends 'base.html.twig' %}

{% block title %}New Project
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Create new Project</h1>

		{{ include('dashboard/project/_form.html.twig') }}

		<a href="{{ path('project_index') }}">back to list</a>

	</div>
{% endblock %}
