{% extends 'base.html.twig' %}

{% block title %}Project
{% endblock %}

{% block body %}
	<div class="container">

		<h1>{{ project.projectName }}
		</h1>
		<div class="row">
			<div class="col-6">
				{% if project.createdAt > date('-7days') %}
					<span class="badge badge-warning text-dark">
						Nouveau
					</span>
				{% endif %}
				<span class="badge badge-primary badge-lg">
					{{project.mainTechnology.name}}
				</span>

				<p>réalisé par Damien BRIET</p>

			</div>
			<div class="col-6">
				<p>
					Date du projet:
					{{ project.createdAt ? project.createdAt|date('d/m/Y') : '' }}
				</p>
			</div>

		</div>

		{{ project.longDesc|raw }}

		<a class="btn btn-primary" href="{{ path('project_index') }}">Retour à la liste des projets</a>
		{% if is_granted('ROLE_USER') %}
			<a class="btn btn-info" href="{{ path('project_edit', {'id': project.id}) }}">Editer</a>
			{% if project.isEnable == true %}
				<a class="btn btn-danger" href="{{ path('project_disable', {'id': project.id}) }}">Désactiver</a>

			{% else %}
				<a class="btn btn-danger" href="{{ path('project_enable', {'id': project.id}) }}">Activer</a>

			{% endif %}

		{% endif %}

	</div>

{% endblock %}
