{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mb-3">Portfolio de l'ensemble de mes projets réalisés:</h1>

		<div class="row">
			{% for p in projects %}
				{% if p.isEnable == true %}

					{% include "shared/_projetCard.html.twig" %}

				{% endif %}

			{% endfor %}
		</div>

	</div>
	{# <table class="table">
												<thead>
													<tr>
														<th>Id</th>
														<th>ProjectName</th>
														<th>ShortDesc</th>
														<th>CreatedAt</th>
														<th>LongDesc</th>
														<th>PictureProject</th>
														<th>actions</th>
													</tr>
												</thead>
												<tbody>
													{% for project in projects %}
														<tr>
															<td>{{ project.id }}</td>
															<td>{{ project.projectName }}</td>
															<td>{{ project.shortDesc }}</td>
															<td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
															<td>{{ project.longDesc }}</td>
															<td>{{ project.pictureProject }}</td>
															<td>
																<a href="{{ path('project_show', {'slug': project.slug}) }}">show</a>
																<a href="{{ path('project_edit', {'slug': project.slug}) }}">edit</a>
															</td>
														</tr>
													{% else %}
														<tr>
															<td colspan="7">no records found</td>
														</tr>
													{% endfor %}
												</tbody>
											</table> #}

{% endblock %}
