{{ form_start(formArticle)}}
<div class="form-group">
    {{ form_row(formArticle.filter) }}

</div>
    <div class="form-group">
        {{ form_row(formArticle.send) }}
    </div>

{{form_end(formArticle)}}