{% extends 'base.html.twig' %}

{% block title %}CV Damien Briet -
	{{ article.title }}
{% endblock %}

{% block body %}

	<div class="container mt-3">
		<h1>{{ article.title }}</h1>
		<p class="font-italic">Par
			{{ article.author.firstname }}
			{{ article.author.lastname }}
			| Créé le
			{{ article.date|date('d-m-Y') }}
			{% if article.updateAt is not null %}
				| Dernière édition le
				{{ article.updateAt|date('d-m-Y') }}
			{% endif %}
		</p>
		<section id="img-article">
			<div class="d-flex justify-content-center">
				<div class="col-8 text-center">
					{% if article.imageArticle is not null %}
						<img class="img-fluid" src="{{ asset('uploads/') }}{{ article.imageArticle }}" alt="">
					{% endif %}
				</div>
			</div>
		</section>
		<section id="text-article">
			<div class="article-text">
				{{ article.text|raw }}
			</div>
		</section>
		<hr>
		{% if app.user is not null %}
			<a class="btn btn-sm btn-primary" href="{{path('article_edit', {id:article.id})}}">Modifier l'article</a>
		{% endif %}
		<a class="btn btn-success btn-sm" href="{{ path('blog_index')}}">Retour au blog</a>
	</div>
{% endblock %}
