{% extends 'base.html.twig' %}

{% block title %}CV Damien BRIET - Blog & Actualités
{% endblock %}

{% block body %}

	<div class="container-fluid content-row">
		<div class="row">
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">Filtre de recherche:
				<div class="card">
					<div class="card-body">
						{% include "blog/_formfilterarticle.html.twig" %}
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
				<div class="card-group">
					{% if articles is not empty %}
						{% for article in articles %}
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
								<div class="card {% if article.isEnable == false %}border-danger{% endif %}
																																																												">
									<div class="card-header">
										<div class="row">
											<div class="col-9">
												{{ article.title|striptags|slice(0, 60) }}
											</div>
											<div class="col-3 text-right">
												<i class="far fa-eye"></i>
												{{ article.views}}
												{% if is_granted('ROLE_USER') %}
													{% if article.isEnable == true %}
														<a class="btn btn-sm btn-danger" href="{{ path('article_disable', {'id': article.id}) }}">
															<i class="far fa-eye-slash"></i>
														</a>

													{% else %}
														<a class="btn btn-sm btn-primary" href="{{ path('article_enable', {'id': article.id}) }}">
															<i class="far fa-eye"></i>
														</a>

													{% endif %}
												{% endif %}
											</div>
										</div>
									</div>
									<div class="card-body flex-fill">
										<div class="row">
											<div class="col-5 text-center" style="width: 100%; height:100px; overflow:hidden">
												{% if article.imageArticle is not null %}
													<img class="img-fluid" src="{{ asset('uploads/') }}{{ article.imageArticle }}" alt="">
												{% else %}
													<p class="font-italic text-secondary">Aucun apercu de disponible</p>
												{% endif %}
											</div>
											<div class="col-7">
												<p>{{ article.text|striptags|slice(0, 220)|raw }}[..]</p>
											</div>
										</div>
										<div class="text-right">
											<p>
												<a href="{{ path('article', {slug:article.slug}) }}" class="btn btn-info">Voir plus</a>
											</p>
										</div>
									</div>
									<div class="card-footer flex-fill">
										<div class="row">
											<div class="col-6">{{ article.author.firstname }}
												{{ article.author.lastname }}</div>
											<div class="col-6 text-right">{{ article.date|date("d-m-Y") }}</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p>Aucun article existant</p>
					{% endif %}
				</div>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
				<h3 class="mb-3">Les plus regardés:</h3>
				{% for bestarticle in bestarticles %}
					<div class="row">
						<div class=" align-self-center">
							<p>
								<span class="badge badge-danger" style="font-size: 13px;;">{{bestarticle.views }}</span>
							</p>
						</div>
						<div class="col-10">
							<p class="text-justify">
								<a class="text-dark" href="{{ path('article', {slug:bestarticle.slug}) }}">{{bestarticle.title|slice(0,45) }}</a>
							</p>
						</div>
					</div>
				{% endfor %}
				<div class="col-12 mt-3">
					<iframe src="https://open.spotify.com/embed/playlist/0wP9cKId5yo8MvMXeB8QqF" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="d-flex justify-content-center">
					{{ knp_pagination_render(articles) }}
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
