<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="UTF-8">
		<meta name="description" content="CV de Damien BRIET Web développeur web Front-End & Back-End sur Amiens. Passionné de technologie et du web"/>
		<meta name="keywords" content="développeur web, développeur web amiens, 80000, Damien Briet, site web amiens">
		<meta property="og:title" content="site web & CV de Damien BRIET développeur web"/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://dwn-b.fr/"/>
		<meta property="og:image" content="{{ asset('img/DWNdarklogo.png' )}}"/>
		<meta property="og:description" content="CV  développeur web : développement de sites, applications, PHP, HTML5, CSS3, JQuery, BOOTSTRAP, UX, JavaScript..."/>
		<meta name="google-site-verification" content="OAJl_xw1hJCu8KY3ObTi2I6GuoyDICT0oci-RJdfJiQ"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/DWNdarklogo.png')}}"/>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/css/custom.css">
		<title>
			{% block title %}{% endblock %}
		</title>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<header>
			{% include "shared/_navbar.html.twig" %}
		</header>
		{% block body %}{% endblock %}
		<footer>
			<div class="container-fluid" id="footerContainer">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
						<p>Damien BRIET</p>
						<p>CV Numérique V2</p>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 text-center" id="infoFooter">
						<p>damienbbriet@gmail.com</p>
						<p>Site Web personnel créé par
							<span class="titleItalic">Damien BRIET</span>
						</p>
						<p>Tous droits réservés</p>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-2 col-sm-12 col-12 text-right">
						<a href="https://github.com/DamienBT"><img src="{{ asset('img/imgindex/icons8-github-filled-30.png') }}" alt="image github"></a>
						<a href="https://www.linkedin.com/in/damien-briet-6ab36b72/"><img src="{{ asset('img/imgindex/icons8-linkedin-filled-30.png')}}" alt="image linkedin"></a>
					</div>
				</div>
			</div>
		</footer>
	</body>
	{# // <script src="js/script.js"></script> #}
</html>
