<nav class="navbar navbar-expand-md navbar-dark">
	<a class="navbar-brand" href="{{path('homepage_index')}}"><img class="logoBrand" src="{{ asset('img/DWN.png') }}" alt="logo site"></a>
	<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{% if indexcontroller is defined %}#{% else %} {{ path('homepage_index') }}{% endif %}">PRESENTATION</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% if indexcontroller is defined %}#bloc-competences{% else %} {{ path('homepage_index') }}#bloc-competences{% endif %}">COMPETENCES</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('project_index')}}">PORTFOLIO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% if indexcontroller is defined %}#bloc-experiences{% else %} {{ path('homepage_index') }}#{% endif %}">EXP./FORMATIONS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% if indexcontroller is defined %}#bloc-contact{% else %} {{ path('homepage_index') }}#bloc-contact{% endif %}">CONTACT</a>
			</li>
			<li class="nav-item">
				<a class="nav-link blogcontent" href="{{ path('blog_index')}}">BLOG</a>
			</li>
		</ul>
	</div>
	<div class="ml-auto order-0">
		<button class="navbar-toggler btn-info" type="button" data-toggle="collapse" data-target=".dual-collapse2">
			<span class="navbar-toggler-icon btn-info"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{ asset('file/CVDAMIENBRIET.pdf') }}" download><input class="btn buttonCV" type="button" name="" value="TELECHARGER MON CV"></a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{path('dashboard_index')}}">
						<i class="fas fa-user fa-2x"></i>
					</a>
				</li>

			{% endif %}
		</ul>
	</div>
</nav>
