<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
	<a class="link-project" href="{{ path('project_show', {'slug': p.slug}) }}">

		<div class="card content">
			<div class="badge" style="position:absolute; top:0 left:0; z-index:5555">
				{% if p.createdAt > date('-7days') %}
					<p>
						<span class="badge badge-warning text-dark text-center">
							Nouveau
						</span>
					</p>
				{% endif %}

			</div>
			<div class="img-hover-zoom img-hover-zoom--slowmo"><img style="width:150%;" class="" src="{{ asset('uploads/' ~ p.pictureProject) }}" alt="">
			</div>
			<div class="content-details fadeIn-bottom">
				<h3 class="content-title">{{p.projectName|upper}}</h3>
				<p class="content-text">{{p.shortDesc}}</p>
				<p class="content-text project-badge">
					<span class="badge badge-primary">{{p.mainTechnology.name}}</span>
				</p>
			</div>


		</div>
	</a>
</div>
