{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Damien Briet
{% endblock %}

{% block body %}
	<div class="container dashboard">
		<div class="row mt-3 text-center">
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
				<div class="card ">
					<div class="card-body">
						<p>
							Gestion des Users
						</p>
						<a href="">Liste utilisateur</a>
						<a href="">Ajouter utilisateur</a>
					</div>
				</div>

			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
				<div class="card">
					<div class="card-body">
						<p>
							Gestion des Articles
						</p>
						<a href="{{path('blog_index')}}">Liste des articles</a>
						<a href="{{path('article_new')}}">Nouvel article</a>

					</div>
				</div>

			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
				<div class="card">
					<div class="card-body">
						<p>
							Gestion des Technologies / Catégories
						</p>
						<div class="row">
							<div class="col-6">
								<a href="{{path('technology_list_new')}}">Nouvelle techno</a>
								<a href="{{path('technology_list_index')}}">Liste des techno</a>
							</div>
							<div class="col-6">
								<a href="{{path('category_new')}}">Nouvelle catégorie d'article</a>
								<a href="{{path('category_index')}}">Liste catégorie d'article</a>
							</div>
						</div>

					</div>
				</div>

			</div>
			<div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-3">
				<div class="card">
					<div class="card-body">
						<p>Gestion des Projets</p>
						<a href="{{path('project_index')}}">Liste des projets</a>
						<a href="{{path('project_new')}}">Créer un projet</a>

					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
