{{ form_start(form) }}
<div class="form-group">
	{{ form_widget(form) }}

</div>
<div class="form-group">
	<button class="btn btn-success">{{ button_label|default('Créer l\'article') }}</button>
</div>
{{ form_end(form) }}
