{% extends 'base.html.twig' %}

{% block title %}CV Damien BRIET - Administration
{% endblock %}

{% block body %}
<div class="container">
	<h1>Editer l'Article</h1>
	{% if article.imageArticle is not null %}
		<div class="col-12 text-center">
			<img class="col-3" src="{{ asset('uploads/imageArticle/') }}{{ article.imageArticle }}" alt="">
			<p>Image de l'article actuelle</p>
		</div>
	{% endif %}
	{{ include('dashboard/article/_form.html.twig', {'button_label': 'Mettre à jour l\'article'}) }}
    <a class="btn btn-primary" href="{{ path('dashboard_index') }}">Retour au dashboard</a>

</div>
{% endblock %}
