{% extends 'base.html.twig' %}

{% block title %}CV Damien BRIET - Administration
{% endblock %}

{% block body %}
	<h1>Créer un nouvel article</h1>
	<div class="container">
		{{ include('dashboard/article/_form.html.twig') }}
	</div>

	<a href="{{ path('dashboard_index') }}">Retour à la liste</a>
{% endblock %}
